.header {
  grid-area: head;
  background-color: $color-grey-light-1;
  display: grid;
  align-items: center;
  grid-template-columns: 0.6fr 1.1fr 0.8fr;

  &__logo {
    margin-left: 4rem;
    height: 6rem;
    display: block;
  }
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: grid;
  grid-template-columns: 1.6fr 0.6fr 1fr;
  column-gap: 10px;
  align-items: center;
  // padding-left: 3rem;
  margin-right: 3rem;
  transition: all 0.3s;
  z-index: 2;

  & .dropdown {
    font-size: 1.7rem;
    color: $color-grey-light-3;
    cursor: pointer;
    border-right: solid 2px $color-grey-light-3;
    position: relative;

    .default_option {
      text-align: center;
    }

    ul {
      position: absolute;
      top: 5rem;
      left: 1rem;
      z-index: 1;
      width: auto;
      background-color: #fff;
      list-style: none;
      border-radius: 1rem;
      box-shadow: 8px 8px 6px -10px #b3c6ff;
      padding: 2rem;
      display: none;
      height: 20rem;
      overflow: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      &:active {
        display: block;
      }
      li {
        padding-bottom: 20px;
        padding-left: 2.8rem;
      }

      li:last-child {
        padding-bottom: 0;
      }

      li:hover {
        color: $color-primary;
      }
    }
  }

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 7rem;
    text-align: center;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }

    @media only screen and (max-width: $bp-medium) {
      width: auto;

      &::placeholder {
        color: white;
      }
    }
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: $color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  // right: 0;
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
  }
}
