.landmark {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.2fr 0.4fr 3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &__title {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #f9f5f3;

    h1 {
      position: relative;
      margin: 0;
      font-family: "Nunito Sans", sans-serif;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      white-space: nowrap;
      padding-bottom: 13px;
    }

    h1:before {
      background-color: $color-primary;
      content: "";
      display: block;
      height: 0.3rem;
      width: 15rem;
      margin-bottom: 5px;
    }

    h1:after {
      background-color: $color-primary;
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 0.3rem;
      width: 15rem;
      margin-bottom: 0;
    }
  }

  // ICONS
  &__details {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    padding: 1rem 4rem 2rem 4rem;
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  .btn--bookmark {
    border-radius: 87px;
    background: #15aaff;
    box-shadow: -8px 8px 16px #0e70a8, 8px -8px 16px #1ce4ff;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;

    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }
  }

  // IMAGE GALLERY
  &__image-gallery {
    grid-area: 3 / 1 / 4 / 2;
  }
  // WIKI DATA
  &__wiki-data {
    grid-area: 3 / 2 / 4 / 3;
  }

  // ADDRESS

  &__address {
    grid-area: 4 / 1 / 5 / 3;
    background-color: #f9f5f3;

    > h2 {
      margin-top: 20px;
    }
  }

  &__address-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
  }

  &__address_detail {
    display: flex;
    padding-left: 10rem;
    font-size: 1.4rem;

    &_nature {
      font-weight: bolder;
    }
  }

  &__address_value {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 70%;
  }
}
